html,
body {
  margin: 0;
  min-width: 320px;
}

#swagger-ui {
  margin: 0 auto;
  max-width: 1460px;
  padding: 0 20px 40px;
}

@media (max-width: 600px) {
  #swagger-ui {
    padding: 0 10px 28px;
  }
}
